app-container {
  width: 60%;
  margin-bottom: 48px;
  margin-top: 32px;
  padding: 50px 100px;

  .acoesPerfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 16px 12px 0;
  }
  .example-full-width {
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    border-radius: 60px;
    .full-width {
      grid-column: 1 / span 2;
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      grid-gap: 8px;
      .radio-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
      }

      .drop-container {
        margin-bottom: 16px;
        .custom-error {
          font-size: 12px;
          margin-left: 12px;
        }
      }
    }
  }

  mat-card-title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 450px;
    gap: 10px;

  }

  .texto {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 40px;
    padding: 1000px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    button {
      margin: 0 8px;
    }
  }

  mat-divider {
    margin: 0 16px;
    margin-top: 24px;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    margin-left: 16px;
  }

  .btn-editar {
    background: #E6E0E9;
  }

  button {
    background-color: rgba(0, 122, 255, 1);
    color: white;
    border-color: rgba(0, 122, 255, 1);
    border-radius: 60px;
    padding: 10px;
    width: 229px;
    height: 40px;
  }

  .acessoPerfil {
    display: flex;
    justify-content: space-between;
    margin: 40px 16px 24px 0;
  }

  .texto {
    margin: 80px;
    padding: 80px;
  }

  .example-full-width {
    background-color: white;
    width: 100%;
  }

  .mat-form-field {
    .example-full-width {
      width: 100%;
    }
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #E6E0E9;
  }
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .full-width {
      grid-column: 1;
    }
  }
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 98vw;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.mat-toolbar {
  border: 30px solid transparent;
  text-align: center;
  font-size: 30px;
  background-color:dimgray;
  color: #111111;
  padding: 17px;
	margin-top: 10px;
  width: 98vw;
  margin-bottom: 18px;
}
table {
  width: 500px;
  height: 500px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


