app-container {
  width: 60%;
  margin-bottom: 48px;
  margin-top: 32px;
  padding: 50px 100px;

  mat-card-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 40px;
    padding: 450px;
    gap: 10px;

  }

  .texto {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 40px;
    padding: 1000px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    button {
      margin: 0 8px;
    }
  }

  mat-divider {
    margin: 0 16px;
    border-top-color: #79747E;
    margin-top: 24px;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    color: #1D1B20;
    margin-left: 16px;
  }

  .btn-editar {
    background: #E6E0E9;
  }
}
#divBusca{
  background-color:white;
  border:solid 1px;
  border-radius:15px;
  width:300px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
  margin-bottom: 18px;
}

.example-full-width {
  width: 100%;
}

table {
  width:  90%;
  height:  400px;
}

mat-card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  button {
    margin: 0 8px;
  }
}

button {
  background-color: rgba(52, 199, 89, 1);
  color: white;
  border-radius: 60px;
  padding: 10px;
  width: 229px;
  height: 40px;
}



