app-container {
  width: 60%;
  margin-bottom: 48px;
  margin-top: 300px;
}

table {
  width:  90%;
  height:  400px;
}

mat-card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  button {
    margin: 0 8px;
  }
}

button {
  color:  rgba(52, 199, 89, 1);
  border-color:  rgba(52, 199, 89, 1);
  border-radius: 60px;
  padding: 10px;
  width: 229px;
  height: 40px;
}



