<app-menuu></app-menuu>
<app-container>
  <mat-card>
   <form [formGroup]="cadastroForm">
      <mat-card-title>
        Cadastro De Usuário
      </mat-card-title>
     <mat-card-content>
        <div class="grid-container">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome_usuario" placeholder="Nome">
            <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
          </mat-form-field>
          <div class="radio-group">
            <mat-form-field appearance="outline" class="matricula" style="min-width: 190px; width: 450px;">
              <mat-label>Matricula</mat-label>
              <input matInput formControlName="matricula_usuario" placeholder="Digite sua matricula">
              <mat-error *ngIf="cadastroForm.get('matricula')?.errors">Matricula é obrigatória</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="data" style="min-width: 190px; width: 450px;">
              <mat-label>Data de Inicio</mat-label>
              <input matInput
                formControlName="data_inicio"
                [matDatepicker]="inicio"
                placeholder="Data de inicio"
              >
              <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
              <mat-datepicker #inicio></mat-datepicker>
              <mat-error *ngIf="cadastroForm.get('inicio')?.errors?.['required']">
                Data de inicio é obrigatória
              </mat-error>
            </mat-form-field>
          </div>
          <mat-card-actions class="full-width">
            <button>CADASTRAR</button>
          </mat-card-actions>
        </div>
     </mat-card-content>
    </form>
  </mat-card>
</app-container>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="nome_usuario">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome_usuario}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="matricula_usuario">
        <th mat-header-cell *matHeaderCellDef> Matricula </th>
        <td mat-cell *matCellDef="let element"> {{element.matricula_usuario}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="data_inicio">
        <th mat-header-cell *matHeaderCellDef> Data De Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.data_inicio}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editarUser(element.id)">assignment</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="deleteUser(element.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


