<app-menuu></app-menuu>
<app-container>
  <mat-card>
   <form [formGroup]="cadastroForm">
      <mat-card-title>
        Crie seu Cadastro
      </mat-card-title>
     <mat-card-content>
        <div class="grid-container">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" placeholder="Nome">
            <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
          </mat-form-field>
          <div class="radio-group">
            <mat-form-field appearance="outline">
              <mat-label>Matricula</mat-label>
              <input matInput formControlName="matricula" placeholder="Digite sua matricula">
              <mat-error *ngIf="cadastroForm.get('matricula')?.errors">Matricula é obrigatória</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Data de Inicio</mat-label>
              <input matInput
                formControlName="inicio"
                [matDatepicker]="inicio"
                placeholder="Data de inicio"
              >
              <mat-datepicker-toggle matSuffix [for]="inicio"></mat-datepicker-toggle>
              <mat-datepicker #inicio></mat-datepicker>
              <mat-error *ngIf="cadastroForm.get('inicio')?.errors?.['required']">
                Data de inicio é obrigatória
              </mat-error>
            </mat-form-field>
          </div>
          <mat-card-actions class="full-width">
            <button>CADASTRAR</button>
          </mat-card-actions>
        </div>
     </mat-card-content>
    </form>
  </mat-card>
</app-container>
