@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

/* .app-header {} */

.menu {
  background-image: url('../../../assets/Imagens/container.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: -4px;
}

.example-icon {
    margin: 25px;
  }

  .hi {
    margin: 0px;
  }
  button {
   flex-grow: 8px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    width: 100vw;
    height: 95px;
    background-color:rgba(161, 155, 155, 1);
    color: rgb(18, 18, 18);
    padding: 0;
  }

  .links-toolbar > * {
    margin: 8px 8px 8px;
  }

  .links-toolbar > *:first-child {
    margin-right: 0;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #efeeee;
    color: #ffffff;
  }

  .tela {
    background-image: url('../../../assets/Imagens/casa.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    margin: 60px;
  }
