<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <div class="menu"></div>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/usuario">Usuário</button>
    <button mat-menu-item routerLink="/consulta">Consulta</button>
    <button mat-menu-item routerLink="/status">Status</button>
    </mat-menu>
   </button>
   <div class="logo">
     <img src="images/logo.png" alt="logo da elumini">
    </div>
  <span class="spacer"></span>
    <div class="tela" (click)="onClick()"></div>
</mat-toolbar>
